- name: ospf-base
- name: ospf-default
- name: ospf-priority
- name: ospf-nbma
- name: ospf-ptmp
- name: ospf-authentication
- name: ospf-bfd
- name: ospf-custom
- name: ospf-area
- name: ospf-vrf
- name: bgp-base
- name: bgp-auth
- name: bgp-int
- name: bgp-merged
- name: bgp-flowspec
- name: bgp-rs-multitab
- name: bgp-rs-singletab
- name: ebgp-loop
- name: ebgp-star
- name: ebgp-role
- name: ebgp-graceful
- name: ebgp-import-limit
- name: ebgp-hostname
- name: ibgp-loop
- name: ibgp-loop-big
- name: ibgp-flat
- name: babel-base
- name: babel-auth
- name: rip-base
- name: kernel-learn
- name: mpls-bgp
- name: mpls-bgp-l3vpn
