#!/usr/bin/make -f

export DEB_BUILD_MAINT_OPTIONS = hardening=+all
DPKG_EXPORT_BUILDFLAGS = 1
include /usr/share/dpkg/default.mk

# See mk/target-deb.mk for args and flags
export TARGET=deb

DB2MAN	= /usr/share/sgml/docbook/stylesheet/xsl/nwalsh/manpages/docbook.xsl
XP	= xsltproc -''-nonet -''-param man.charmap.use.subset "0"

%:
	dh $@

override_dh_auto_configure:
	true

override_dh_auto_build-indep:
	dh_auto_build --

override_dh_auto_install:
	dh_auto_install --destdir=debian/tmp

override_dh_installinit:
	dh_installinit --name=bird --restart-after-upgrade

override_dh_installsystemd:
	dh_installsystemd --name=bird --restart-after-upgrade

bird.8: debian/bird.xml
	$(XP) $(DB2MAN) $<

override_dh_installman: bird.8
	dh_installman
